
.footer {
    min-height: 350px;
    background: url('../img/footer-gradient-background.png') center center / cover no-repeat;

    .container {

        .footer_flex {
            padding-top: 56px;
            display: flex;

            .footer_flex_left {
                padding-right: 160px;
                .footer_title {
                    font-family: 'Georgia', serif;
                    font-weight: 400;
                    font-size: 35px;
                    letter-spacing: 1.8px;
                    line-height: 130%;
                    color: $fontColorWhite;
                }
                .email {
                    padding-top: 40px;
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 20px;
                    }
                    a {
                        font-family: 'Georgia', serif;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 1.8px;
                        line-height: 130%;
                        color: $fontColorCream;
                        text-decoration: none;
                        transition: 1s;
                        scale: 1;

                        &:hover {
                            cursor: pointer;
                            transition: 1s;
                            scale: 1.1;
                        }
                    }
                }
                .phone_number {
                    padding-top: 40px;
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 20px;
                    }
                    a {
                        font-family: 'Georgia', serif;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 1.8px;
                        line-height: 130%;
                        color: $fontColorCream;
                        text-decoration: none;
                        transition: 1s;
                        scale: 1;

                        &:hover {
                            cursor: pointer;
                            transition: 1s;
                            scale: 1.1;
                        }
                    }
                }
            }
            .footer_flex_right {

                .footer_title {
                    font-family: 'Georgia', serif;
                    font-weight: 400;
                    font-size: 35px;
                    letter-spacing: 1.8px;
                    line-height: 130%;
                    color: $fontColorWhite;
                }
                .location_boston {
                    display: flex;
                    align-items: center;
                    padding-top: 34px;
                    img {
                        padding-right: 20px;
                    }
                    a {
                        font-family: 'Georgia', serif;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 1.8px;
                        line-height: 130%;
                        color: $fontColorCream;
                        text-decoration: none;
                        transition: 1s;
                        scale: 1;

                        &:hover {
                            cursor: pointer;
                            transition: 1s;
                            scale: 1.1;
                        }
                    }
                }
                .location_london {
                    padding-top: 32px;
                    display: flex;
                    align-items: center;
                    img {
                        padding-right: 20px;
                    }
                    a {
                        font-family: 'Georgia', serif;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 1.8px;
                        line-height: 130%;
                        color: $fontColorCream;
                        text-decoration: none;
                        transition: 1s;
                        scale: 1;

                        &:hover {
                            cursor: pointer;
                            transition: 1s;
                            scale: 1.1;
                        }
                    }
                }
            }
            .footer_flex_img {
                margin-left: 160px;
            }
        }
    }
}