
$fontColorCream: #F1CDB3;
$fontColorWhite: #FFFFFF;
$fontColorBlack: #292929;
$fontColorGray: #CDCDCD;
$fontColorGray2: #545454;
$fontColorGray3: #4C4C4C;
$fontColorGray4: #B2B2B2;
$fontColorHoverNav: #FAFAFA;
$bgSectionOurFriends: #F6F6F6;
$bgColorWhite: #FFFFFF;
