
@media (max-width: 320px) {
    //Header
    .header_pets {
        .container {
            .logo_nav {
                height: 120px;
                padding-bottom: 30px;
                .header_logo {
                    .logo_title {
                        a {
                            font-size: 32px;
                            line-height: 35.2px;
                            letter-spacing: 2.2px;
                        }
                    }
                }
            }
        }
    }

    //Our Friends
    .our_friends {
        padding-top: 42px;
        padding-bottom: 42px;
        .container {
            .our_friends_title {
                font-size: 25px;
                line-height: 35.2px;
                letter-spacing: 2.2px;
            }
            .nav_cards {
                .btn_one_arrow_back {
                    margin-left: 10px;
                }
                .page_now {
                    margin: 0px 10px;
                }
                .btn_one_arrow_next {
                    margin-right: 10px;
                }
            }
        }
    }

    //Footer
    .footer {
        .container {
            .footer_flex {
                padding: 30px 0 0 0;
                .footer_flex_left {
                    margin: 0;
                    width: 100%;
                    .footer_title {
                        text-align: center;
                        font-size: 25px;
                        line-height: 35.2px;
                        letter-spacing: 2.2px;
                    }
                    .email {
                        a {
                            font-size: 20px;
                        }
                    }
                    .phone_number {
                        a {
                            font-size: 20px;
                        }
                    }
                }
                .footer_flex_right {
                    width: 100%;
                    .footer_title {
                        text-align: center;
                        font-size: 25px;
                        line-height: 35.2px;
                        letter-spacing: 2.2px;
                    }
                    .location_boston {
                        margin-left: 10px;
                        justify-content: flex-start;
                        a {
                            font-size: 20px;
                        }
                    }
                    .location_london {
                        margin-left: 10px;
                        justify-content: flex-start;
                        a {
                            font-size: 20px;
                        }
                    }
                }
                .footer_flex_img {
                    margin: 40px 20px 0px 20px;
                }
            }
        }
    }
}